.button-neu {
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 12px 12px 20px #989898,
        -12px -12px 20px #ffffff;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-centered {
    text-align: center;
}

.lobby-list {
    list-style: none;
    padding: 0;
}

.lobby-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lobby-list li:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lobby-form{
    display: flex;
    flex-direction: column;
}