<footer>
  <div
    class="grid-rows-2 container mx-auto px-6 py-4 flex flex-col items-center"
  >
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center">
        <span class="font-bold text-lg">This is the Chameleon!</span>
        <p class="text-sm">Copyright © 2023</p>
      </div>
      <div class="flex items-center my-4">
        <a
          href="https://ko-fi.com/hameleon"
          target="_blank"
          class="block w-12 h-12 flex items-center justify-center"
        >
          <img
            src="../../../assets/Logo_Kofi.png"
            alt="Kofi Logo"
            class="w-8 h-8"
          />
        </a>
        <a
          href="https://bigpotato.co.uk/products/the-chameleon"
          target="_blank"
          class="block w-12 h-12 mx-2 flex items-center justify-center"
        >
          <img
            src="../../../assets/Logo_Potato.png"
            alt="Potato Logo"
            class="w-8 h-8"
          />
        </a>
        <a
          href="https://www.instagram.com/ivanbokk/"
          target="_blank"
          class="block w-12 h-12 flex items-center justify-center"
        >
          <img
            src="../../../assets/Logo_Instagram.png"
            alt="Instagram 1"
            class="w-8 h-8"
          />
        </a>
        <a
          href="https://www.instagram.com/nydn_stkv/"
          target="_blank"
          class="block w-12 h-12 mx-2 flex items-center justify-center"
        >
          <img
            src="../../../assets/Logo_Instagram.png"
            alt="Instagram 2"
            class="w-8 h-8"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
