<table mat-table [dataSource]="currentCategory" class="mat-elevation-z8 category-table" *ngIf="selectedRow || !userData.admin">
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>{{currentCategoryName}}</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="a">
    <th mat-header-cell *matHeaderCellDef>A</th>
    <td mat-cell *matCellDef="let element; let i=index" [ngClass]="{'diagonal': i % 2 === 0 || i === 0 }">{{ element[0] }} </td>
  </ng-container>

  <ng-container matColumnDef="b">
    <th mat-header-cell *matHeaderCellDef>B</th>
    <td mat-cell *matCellDef="let element; let i=index" [ngClass]="{'diagonal': i % 2 === 1 && i !== 0 }">{{ element[1] }}</td>
  </ng-container>

  <ng-container matColumnDef="c">
    <th mat-header-cell *matHeaderCellDef>C</th>
    <td mat-cell *matCellDef="let element; let i=index" [ngClass]="{'diagonal': i % 2 === 0 || i === 0 }">{{ element[2] }}</td>
  </ng-container>

  <ng-container matColumnDef="d">
    <th mat-header-cell *matHeaderCellDef>D</th>
    <td mat-cell *matCellDef="let element; let i=index" [ngClass]="{'diagonal': i % 2 === 1 && i !== 0 }">{{ element[3] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<hr>
<hr>

<!-- chart -->
<table mat-table [dataSource]="chartTable"  class="mat-elevation-z8 chart-table" *ngIf="selectedRow || !userData.admin">
  <ng-container *ngFor="let col of chartColumns; let i = index" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>{{'•'.repeat(i)}}</th>
    <td mat-cell *matCellDef="let element; let rowIndex = index"
     [ngClass]="{'green-bg': i > 0 && rowIndex % 2 == i % 2 && element[i] != chartColumns[i]}"
     [ngStyle]="randomRow === rowIndex && i === randomColumn ? {'background-color': '#69b86e',  border: '3px solid darkblue'} : {}"
     >{{ element[i] }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="chartColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: chartColumns;"></tr>
</table>

<button class="button-neu" mat-raised-button *ngIf="selectedRow && userData.admin" (click)="nextRound()">Next Round</button>

<!-- select categories -->
<mat-table [dataSource]="categories" class="mat-elevation-z8" *ngIf="!selectedRow && userData.admin">
  <ng-container matColumnDef="key">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Select Category </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="category"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: category"  (click)="selectCategory(row)" [ngClass]="{'highlighted': row === selectedRow}"></mat-row>
</mat-table>